{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-container" style="max-width:500px; margin:auto;">

    <div class="card">

        <h1>Invite New Recruiter</h1>
        <p style="color:#555; margin-bottom:20px;">
            Enter an email to send a secure invite link.
        </p>

        <form method="post">
            {% csrf_token %}

            <label>Email</label>
            <input type="email" name="email" required class="mb-3">

            <button class="btn btn-primary" style="width:100%;">Send Invite</button>
        </form>

    </div>

</div>

{% endblock %}
