{% extends "base.html" %}
{% load static %}
{% load score_color %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/hrcrudjobs.css' %}">
{% endblock %}

{% block content %}

<div class="page-container job-detail-wrapper">

    <!-- HEADER -->
    <div class="job-detail-header">
        <div>
            <h1>{{ job.title }}</h1>
        </div>

        <div class="job-detail-actions">
            <a href="{% url 'hr_job_edit' job.id %}" class="btn-detail btn-detail-edit">Edit</a>

            <form action="{% url 'hr_job_delete' job.id %}" method="post">
                {% csrf_token %}
                <button class="btn-detail btn-detail-delete"
                        onclick="return confirm('Are you sure you want to delete this job?');">
                    Delete
                </button>
            </form>
        </div>
    </div>

    <!-- INFO CARD -->
    <div class="job-info-card">

        <div class="job-info-item">
            <strong>Location:</strong>
            <span>{{ job.location }}</span>
        </div>

        <div class="job-info-item">
            <strong>Experience:</strong>
            <span>{{ job.min_experience }} – {{ job.max_experience }} yrs</span>
        </div>

        <div class="job-info-item">
            <strong>Work Mode:</strong>
            <span class="text-capitalize">{{ job.work_mode }}</span>
        </div>

        <div class="job-info-item">
            <strong>Vacancies:</strong>
            <span>{{ job.vacancies }}</span>
        </div>

        <div class="job-info-item">
            <strong>Salary:</strong>
            <span> {{ job.get_salary_display }}</span>
        </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="job-section">
        <h3>Description</h3>
        <p class="job-description-text">{{ job.description|linebreaks }}</p>
    </div>

    <!-- REQUIRED SKILLS -->
    <div class="job-section">
        <h3>Required Skills</h3>
        {% for skill in job.required_skills %}
            <span class="badge badge-neutral job-skill-pill">{{ skill }}</span>
        {% endfor %}
    </div>

    <!-- JD KEYWORDS (NOW CORRECT POSITION) -->
    {% if job.jd_keywords %}
    <div class="job-section">
        <h3>JD Keywords</h3>
        {% for kw in job.jd_keywords %}
            <span class="badge badge-neutral job-skill-pill">{{ kw }}</span>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="job-section">
        <h3>Education</h3>
       {{job.required_education|default:"Not specified" }}
    </div>
    <!-- APPLICATIONS -->
    <div class="job-section">
        <h3>Applications ({{ job.applications.count }})</h3>

      <a href="{% url 'hr_job_applications' job.id %}" class="btn btn-outline mt-2">

            View Applications
        </a>
    </div>

</div>

{% endblock %}
